{% extends "base.html" %}
{% load static %}
{% block title %}FabLab{% endblock %}
{% block titre_gauche %}Projet{% endblock %}
{% block content %}

    <div class="col-lg-9">

            <div style="padding-top: 94px" class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border" >
                        <a href="/login/"><img class="card-img-top" src="../../static/gestion/Icone_plus.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Nouveau Projet</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border"  >
                        <a href="#"><img class="card-img-top" src="../../static/assert/ImageLogoPromotion/A1.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../Projet/projet_1.html">Projet A1</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border">
                        <a href="#"><img class="card-img-top" src="../../static/assert/ImageLogoPromotion/A2.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Projet A2</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border">
                        <a href="#"><img class="card-img-top" src="../../static/assert/ImageLogoPromotion/A3.png"  alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Projet A3</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border">
                        <a href="#"><img class="card-img-top" src="../../static/assert/ImageLogoPromotion/A4.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Projet A4</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border">
                        <a href="#"><img class="card-img-top" src="../../static/assert/ImageLogoPromotion/A5.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Projet A5</a>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->


{% endblock %}