{% extends "base.html" %}
{% load static %}
{% block title %}FabLab{% endblock %}
{% block titre_gauche %}Projet{% endblock %}
{% block content %}

    <div class="col-lg-9">

            <div style="padding-top: 94px" class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border" >
                        <a href="/login/"><img class="card-img-top" src="../../static/gestion/Icone_plus.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/login/">Nouveau Projet</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border"  >
                        <a href="../projet/1"><img class="card-img-top" src="../../static/assert/ImageLogoPromotion/A1.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../projet/1">Première Année</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border">
                        <a href="../projet/2"><img class="card-img-top" src="../../static/assert/ImageLogoPromotion/A2.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../projet/2">Deuxième Année</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border">
                        <a href="../projet/3"><img class="card-img-top" src="../../static/assert/ImageLogoPromotion/A3.png"  alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../projet/3">Troisième Année</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border">
                        <a href="../projet/4"><img class="card-img-top" src="../../static/assert/ImageLogoPromotion/A4.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../projet/4">Quatrième Année</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 no-border">
                        <a href="../projet/5"><img class="card-img-top" src="../../static/assert/ImageLogoPromotion/A5.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../projet/5">Cinquieme Année</a>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->


{% endblock %}