{% extends "base.html" %}
{% load static %}
{% block title %}FabLab{% endblock %}
{% block titre_gauche %}Projet A{{promotion}}{% endblock %}

{% block content %}

    <div style="margin-top: 52px" class="col-lg-9">
    <div class="row">
        {% for project in promotion_project_list %}
        <div style="padding-top: 5%" class="col-lg-4 col-md-6 mb-4">
            <div  class="card h-100">
                <form action="/reservation_projet" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="project_name" name="project_name" value="{{ project.project_Name }}">
                </form>
                <a href="/reservation_projet/{{ project.project_Name }}"><img class="card-img-top" src="../../static/gestion/outils.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/reservation_projet/{{ project.project_Name }}">{{ project.project_Name }}</a>
                    </h4>
                </div>
                <div class="card-footer">
                    <form action="/login_launch/" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="project_name" name="project_name" value="{{ project.project_Name }}">
                    </form>
                    <a href="/login_launch/{{ project.project_Name }}/{{ promotion }}" class="button-perso">Lancer le projet</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

</div>
</div>