{% extends "base.html" %}
{% load static %}
{% block titre_gauche %}Projet{% endblock %}

{% block content %}

    <div style="margin-top: 52px" class="col-lg-9">
    <div class="row">
        {% for project in project %}
        <div style="padding-top: 5%" class="col-lg-4 col-md-6 mb-4">
            <div  class="card h-100">
              <img class="card-img-top" src="../../static/gestion/outils.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ project.project_Name }} {{ project.first_Name }} {{ project.last_Name }}
                    </h4>
                </div>
                <div class="card-footer">
                    <form action="/reservation_projet_form/" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="project_name" name="project_name" value="{{ project.project_Name }}">
                    </form>
                    {% if not project.last_Name %}
                        <a href="/reservation_projet_form/{{ project.project_Name }}/{{ project.first_Name }}">Réserver</a>
                    {% else %}
                        Déjà réservé
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

</div>
</div>