{% extends "base.html" %}
{% load static %}
{% block title %} Paramètres {% endblock %}
{% block titre_gauche %} Paramètres {% endblock %}

{% block content %}
<div class="col-lg-9">
    <div class="row">
        <div style="padding-top: 94px" class="col-lg-4 col-md-6 mb-4">
            <div  class="card h-100">
                <img class="card-img-top" src="../../static/assert/logo_param.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="../admin/password_change/">Gérer le mot de passe administrateur</a>
                    </h4>
                    <p class="card-text"></p>
                    <p class="card-text-ref"></p>
                </div>
                <div class="card-footer">Lorem Ipsum</div>
            </div>
        </div>
        <div style="padding-top: 94px" class="col-lg-4 col-md-6 mb-4">
            <div  class="card h-100">
                <img class="card-img-top" src="../../static/assert/logo_param.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="../admin/inventaire/project_list/">Gestion des projets</a>
                    </h4>
                    <p class="card-text"></p>
                    <p class="card-text-ref">Suppression d'un projet non lancé</p>
                </div>
                <div class="card-footer">Lorem Ipsum</div>
            </div>
        </div>
        <div style="padding-top: 94px" class="col-lg-4 col-md-6 mb-4">
            <div  class="card h-100">
                <img class="card-img-top" src="../../static/assert/logo_param.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="../admin/inventaire/product">Gestion des produits</a>
                    </h4>
                    <p class="card-text"></p>
                    <p class="card-text-ref">Suppression </p>
                </div>
                <div class="card-footer">Lorem Ipsum</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div  class="card h-100">
                <img class="card-img-top" src="../../static/assert/logo_param.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="../parametres/GestionAccueil">Gestion de la page d'accueil</a>
                    </h4>
                    <p class="card-text"></p>
                    <p class="card-text-ref">Afficher certaines fiches et changer le carrousel</p>
                </div>
                <div class="card-footer">Lorem Ipsum</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}