{% extends "base.html" %}
{% load static %}
{% block title %}Accueil{% endblock %}
{% block titre_gauche %}Accueil{% endblock %}

{% block content %}

    <div style="margin-top: 74px" class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for article_actu in actualite %}
                    {% if forloop.first %}

                        <div class="carousel-item active">
                            <a href="{% url 'lire' id=article_actu.id cat='actu' %}">
                            <img class="d-block img-fluid" src="{% static 'assert/car1.png' %}" alt="First slide">
                            </a>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <a href="{% url 'lire' id=article_actu.id cat='actu' %}">
                            <img class="d-block img-fluid" src="{% static 'assert/car2.png' %}" alt="">
                            </a>
                        </div>
                    {%  endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    <div class="row">
        {% for article_secu in securite %}
            {% if article_secu.show_it == True %}
                <div style="" class="col-lg-4 col-md-6 mb-4">
                    <div  class="card h-100">
                        <a href="{% url 'lire' id=article_secu.id cat='secu' %}" class="text-dark">
                            <img class="card-img-top" src="../../static/gestion/outils.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">{{ article_secu.title }}
                                </h4>
                                <p class="card-text">{{ article_secu.article|truncatewords:10 }}</p>
                            </div>
                        </a>
                        <div class="card-footer">
                            <p class="card-text-ref">Date de parution {{ article_secu.date }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% for article_metier in metier %}
            {% if article_metier.show_it == True %}
                <div style="" class="col-lg-4 col-md-6 mb-4">
                    <div  class="card h-100">
                        <a href="{% url 'lire' id=article_metier.id cat='metier' %}" class="text-dark">
                            <img class="card-img-top" src="../../static/gestion/outils.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">{{ article_metier.title }}
                                </h4>
                                <p class="card-text">{{ article_metier.article|truncatewords:10 }}</p>
                            </div>
                        </a>
                        <div class="card-footer">
                            <p class="card-text-ref">Date de parution {{ article_metier.date }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endblock %}
    </div>
</div>