{% extends "base.html" %}
{% load static %}
{% block title %}Paramètres{% endblock %}
{% block titre_gauche %}Paramètres{% endblock %}

{% block content %}
<form  action="{% url "login_param" %}" method="post" style="margin-top: 100px">
        {% csrf_token %}
    {{ form.as_p }}
    <input class="button-validation" style="align-content: center" type="submit" value="Validation" />
    <button class="button-validation" type="submit"><a href="/home/">Retour{{ prev }}</a></button>
</form>
{% endblock %}