{% extends  'base.html' %}
{% block title %}Historique{% endblock %}
{% block titre_gauche %}Historique{% endblock %}

{% block content %}
    <div class="col-lg-9">
        <div style="padding-top: 74px" class="row">


        <h2>Reservations :</h2>
            <form action="{% url 'recherche_Prod' %}" method="post" style="margin-left: 375px">
                {% csrf_token %}
                <input type="search" placeholder="Recherche de 3 lettres minimum" id="recherche" name="recherche">
                <input type="submit">
            </form>
        <table>
            <th>Prénom </th>
            <th>Nom </th>
            <th>Promotion </th>
            <th>Date d'emprunt </th>
            <th>Produit </th>
            <th>Quantité</th>
            <th>Date de retour</th>
            <th>Quantité rendue</th>

            {% for reservation in reservations %}
                <tr>
                <td>{{ reservation.first_Name }}</td>
                <td>{{ reservation.last_Name }}</td>
                <td>{{ reservation.promotion }}</td>
                <td>{{ reservation.starting_Date }}</td>
                <td>{{ reservation.id_Product}}</td>
                    <td>{{ reservation.quantity }}</td>
                    {% if not reservation.return_Date %}
                        <td></td>
                    {% else %}
                        <td>{{ reservation.return_Date }}</td>
                    {% endif %}
                    {% if not reservation.return_Quantity %}
                    <td></td>
                    {% else %}
                <td>{{ reservation.return_Quantity }}</td>
                    {% endif %}
                {% if reservation.attention %}
                    <td style="color: red">Attention RETARD</td>
                    {% else %}
                {% endif %}
                </tr>
            {% endfor %}
        </table>
        <h2>Reservations Projet :</h2>
        <table>
            <th>Prénom </th>
            <th>Nom </th>
            <th>Promotion </th>
            <th>Date d'emprunt </th>
            <th>Produit </th>
            <th>Quantité</th>
            <th>Date de retour</th>
            <th>Quantité rendue</th>
            <th>Nom du projet</th>

            {% for reservation in project_reservations %}
                <tr>
                <td>{{ reservation.first_Name }}</td>
                <td>{{ reservation.last_Name }}</td>
                <td>{{ reservation.promotion }}</td>
                <td>{{ reservation.starting_Date }}</td>
                <td>{{ reservation.id_Product}}</td>
                    <td>{{ reservation.quantity }}</td>
                    {% if not reservation.return_Date %}
                        <td></td>
                    {% else %}
                        <td>{{ reservation.return_Date }}</td>
                    {% endif %}
                    {% if not reservation.return_Quantity %}
                    <td></td>
                    {% else %}
                <td>{{ reservation.return_Quantity }}</td>
                    {% endif %}
                    <td>{{ reservation.project_Name }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
<style>
    th {
  background-color: #4565AD;
  color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}
table, th, td {
  border: 1px solid black;
    font-size: large;
}
table {
  width: 100%;
}

th {
  height: 50px;
}

th, td{
    text-align: center;

}
</style>
{% endblock %}

