{# Supposons que notre vue a fourni un objet nommé article contenant les attributs titre, auteur et contenu #}
{% extends "base.html" %}
{% load static %}
{% block title %}Antoine's home{% endblock %}
{% block content %}


    <div style="margin-top: 52px" class="col-lg-9">


    <div class="row">

{% for produit in oui %}
        <div style="padding-top: 5%" class="col-lg-4 col-md-6 mb-4">
            <div  class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static produit.src %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">{{ produit.nom }}</a>
                    </h4>
                    <p class="card-text">Bouteille de {{ produit.type_vin }}</p>
                </div>
                <div class="card-footer">
                    Quantité = {{ produit.quantite }} <br>
                    <form action="/caveAvin/boire/{{ produit.id }}/{{ produit.quantite }}">
                        <button class="button-perso">Boire</button>
                    </form>
                </div>
            </div>
        </div>

{%  empty  %}
    <p>Aucun article</p>
{% endfor %}
{% endblock %}
    </div>
    </div>
