{% extends "base.html" %}
{% load static %}
{% block title %}Retour{% endblock %}
{% block titre_gauche %}Retour{% endblock %}

{% block search %}
            <div>
                <form class="form-inline" id="searchform" action="{% url "search" %}" method="get" accept-charset="utf-8">
                    <input class="form-control mr-sm-2 searchfield" id="searchbox" name="q" type="text" placeholder="Produit...">
                    <button class="btn  my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
{% endblock %}
{% block content %}
<form action="{% url "retour" %}" method="post" style="margin-top: 100px">
        {% csrf_token %}
        {{ form.as_p }}
    <input class="button-validation" style="align-content: center" type="submit" value="Validation" />
</form>
{% endblock %}