{% extends "base_error.html" %}
{% load static %}
{% block content %}
    {%  if id_error == 1 %}
        Pas assez de stock disponible
    {% endif %}

    {% if id_error == 2 %}
        Erreur dans la saisie des informations
    {% endif %}

    {% if id_error == 3 %}
        Erreur dans la quantité de produit rendu
    {% endif %}

    {% if id_error == 4 %}
        Le stock est inférieur aux produits disponibles
    {% endif %}

    {% if id_error == 5 %}
        Erreur d'identifiant ou de mot de passe
    {% endif %}

    {% if id_error == 6 %}
        Le nombre de projet lancé doit être positif
    {% endif %}

    {% if id_error == 7 %}
        Pas assez de {{ product_Name }} disponible
    {% endif %}
{% endblock %}
