{% extends "base_success.html" %}
{% load static %}
{% block content %}
    {% if id_success == 1 %}
        Réservation enregistrée avec succès
    {% endif %}

    {%  if id_success == 2 %}
        Produit rendu avec succès
    {% endif %}

    {%  if id_success == 3 %}
        Projet créé avec succès
    {% endif %}

    {%  if id_success == 4 %}
        Produit ajouté avec succès
    {% endif %}

    {%  if id_success == 5 %}
        Projet lancé avec succès
    {% endif %}

    {%  if id_success == 6 %}
        Projet réservé
    {% endif %}

    {%  if id_success == 7 %}
        Projet supprimait avec brio
    {% endif %}
{% endblock %}

{% block button %}
    {{ id_button }}
{% endblock %}